.name_column {
  display: flex;
}
.name {
  width: 100%;
  align-content: center;
}
.table td {
  vertical-align: middle;
}
.thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}
.employee_modal .modal_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_employeeImage {
  display: relative;
  padding-right: 40px;
}
.employeeImage {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.employeeImage:hover {
  cursor: pointer;
  filter: brightness(0.7);
}
.employeeForm {
  display: relative;
}
.employeeForm_group {
  display: flex;
  margin: 8px 0;
}
.employeeForm_group label {
  width: 80px;
  text-align: left;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}
.employeeForm_group input {
  width: calc(100% - 90px);
  height: 35px;
}
