.name_column {
  display: flex;
  vertical-align: middle;
  align-content: center;
}

.name {
  width: 4vw;
  margin-left: 5px;
  align-content: center;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.listTable {
  margin: 30px 0 20px;
}

.table td {
  vertical-align: middle;
}

.thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.employee_modal {
  display: flex;
}
.modal_employeeImage {
  display: relative;
  padding-right: 40px;
}
.employeeImage {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.employeeImage:hover {
  cursor: pointer;
  filter: grayscale(100%);
}

.employeeForm {
  display: relative;
  margin-top: auto;
  margin-bottom: auto;
}
.employeeForm_group {
  display: flex;
  margin: 10px 0;
}
.employeeForm_group label {
  width: 80px;
  text-align: left;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}
.employeeForm_group input {
  width: calc(100% - 90px);
  padding: 5px;
  border: 1px solid #69d0cf;
  border-radius: 5px;
}

/* 여기 밑에는 노노 */
/* 프로필 이미지 */
.employee__profileImage {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.employee__profileImage--small {
  width: 35px;
  border-radius: 100%;
  border: 1px solid #e0e0e0;
}

/* 임직원 리스트 페이지네이션 */
.employee__pagination {
  display: flex;
  justify-content: center;
}

.modal__employeeText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.inputText__employee {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 30px;
}
/* 읽기전용 회색처리 디자인 고민 
input:read-only {
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
} */

/* 임직원 모달창 정보 */
.employee__form {
  display: relative;
}
.employee__form--group {
  margin-bottom: 10px;
  display: flex;
}
.employee__form--group label {
  width: 80px;
  text-align: left;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}
.employee__form--group input {
  width: calc(100% - 90px);
  padding: 5px;
  border: 1px solid #69d0cf;
  border-radius: 5px;
}

/* 모달 이미지 수정 오버레이  */
.modal__employeeImage--overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.modal__employeeImage--overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.modal__editButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.modal__employeeImage:hover .modal__editButton {
  display: block;
}
