.vacation {
  width: 100%;
}

.vacation .search_type {
  width: 150px;
}

.vacation .pagination {
  margin: 40px auto;
}

.vacation_category,
.vacation_sDate,
.vacation_eDate,
.vacation_outingTime,
.vacation_reason {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 30px;
}

.vacation_categoryTitle,
.vacation_sDateTitle,
.vacation_eDateTitle,
.vacation_outingTimeTitle,
.vacation_reasonTitle {
  min-width: 100px;
  font-size: 18px;
  font-weight: bold;
}

.vacation_categoryItem label {
  margin-right: 20px;
  cursor: pointer;
}
.vacation_categoryItem label:has(input[disabled]) {
  cursor: initial;
}

.vacation_outingStimeSelect,
.vacation_outingEtimeSelect {
  width: 150px;
}
.vacation_inputTextarea {
  width: 330px;
  height: 80px;
  padding: 10px;
  resize: none;
}

.vacation .modal_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 330px;
  box-sizing: border-box;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .modal_md .modal_inner {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .modal_md .modal_inner {
    width: 100%;
  }
  .input_bigText {
    width: 100%;
  }
}
