.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.login_logo {
  width: 150px;
  margin-bottom: 10px;
}
.login_form {
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.login_form .input {
  width: 100%;
  height: 50px;
}
.login_btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-weight: bold;
}
.login_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 20px;
  color: #888;
  border-top: 1px solid #e0e0e0;
  font-size: 13px;
}
