/* input */
.input {
  width: 250px;
  height: 40px;
  color: #333;
  border: 1px solid #69d0cf;
  border-radius: 5px;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: #fff;
}
.input_search {
  display: flex;
  position: relative;
  align-items: center;
}
.input_search > .input {
  padding-right: 40px;
}
.input_searchIcon {
  color: #69d0cf;
  position: absolute;
  right: 15px;
}
.input_bigText {
  width: 330px;
  height: 80px;
  padding: 10px;
  resize: none;
}
.input:focus {
  outline: 1px solid #69d0cf;
}
.input:disabled {
  color: #6c6c6c;
  background-color: #d9d9d9;
  border: 1px solid #bdc3cd;
}
.input::placeholder {
  color: #9cbbbe;
}
