/* font */
@font-face {
  font-family: 'pretendard-regular';
  src: url(/src/assets/fonts/pretendard-regular.woff);
}

* {
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
}
input[type='radio'] {
  cursor: inherit;
  margin: 0;
}
label {
  cursor: inherit;
}
input[disabled] {
  cursor: initial;
}
html,
body,
#wrap {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 600px;
  font-family: 'pretendard-regular';
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 350px;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
}

/* btn */
.btn {
  border-radius: 5px;
  padding: 10px 25px;
  color: #333;
  background-color: #5ab2b2;
  border: 1px solid #69d0cf;
  box-sizing: border-box;
  text-align: center;
}
.btn--light {
  background-color: #edf6f5;
}
.btn:hover {
  color: #fff;
  background-color: #012e33;
  border: 1px solid #69d0cf;
  cursor: pointer;
}

/* pagination */
.pagination {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination li {
  cursor: pointer;
}
.pagination__num {
  width: 30px;
  height: 30px;
  color: #333;
  border-radius: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}
.pagination__num:hover {
  color: #fff;
  background-color: #69d0cf;
}
.pagination__arrow {
  color: #69d0cf;
}
.pagination__arrow:hover {
  color: #012e33;
}
.pagination__btn {
  width: 60px;
  padding: 5px;
  color: #333;
  background-color: #edf6f5;
  border: 1px solid #69d0cf;
}
.pagination__btn:hover {
  color: #fff;
  background-color: #012e33;
}

/* modal */
.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 30;
}
.modal__inner {
  width: 25%;
  min-width: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #ebebeb;
  box-sizing: border-box;
}
.modal__title {
  padding: 15px 0;
  border-bottom: 1px solid #dfdfdf;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.modal__content {
  flex: 1;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal__contentText {
  text-align: center;
  margin: 20px 0;
}
.modal__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
}

.modal--bgWhite .modal__inner {
  background-color: #fff;
}
.modal__bb {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.modal--none {
  display: none;
}

/* inputText */
.inputText {
  width: 250px;
  height: 40px;
  color: #333;
  border: 1px solid #69d0cf;
  border-radius: 5px;
  padding-left: 15px;
  box-sizing: border-box;
}
.inputText:focus {
  outline: 1px solid #69d0cf;
}
.inputText .inputText::placeholder {
  color: #9cbbbe;
}
.inputText--disabled {
  color: #6c6c6c;
  background-color: #d9d9d9;
  border: 1px solid #bdc3cd;
}

/* selectBox */
.selectBox {
  width: 250px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
  background-color: #fff;
}
.selectBox__label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border: 1px solid #69d0cf;
  border-radius: 5px;
}
.selectBox__arrow {
  position: absolute;
  right: 5px;
  height: 28px;
}
.selectBox__list {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  border: 1px solid #69d0cf;
  border-radius: 5px;
  background-color: #edf6f5;
  box-sizing: border-box;
}
.selectBox__list--none {
  display: none;
}
.selectBox__option {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.selectBox__option:hover {
  background-color: #69d0cf;
}

/* listTable */
.listTable {
}
.listTable__tr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  cursor: pointer;
}
.listTable__tr--hover:hover {
  background-color: #f1f1f1;
}
.listTable__th,
.listTable__td {
  flex: 1;
}
.listTable__th:last-child,
.listTable__td:last-child {
  flex: 2;
}
.listTable__th {
  font-weight: bold;
}
