img {
  display: inline;
  vertical-align: middle;
}

/* 임직원 헤더 */
.employee {
  margin: 30 auto;
}
.employee__title {
  font-size: 25px;
  font-weight: bold;
}
.employee__search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.employee__input {
  width: 25%;
  height: 30px;
  font-size: 15px;
}
.employee__input::placeholder {
  color: #9cbbbe;
}
.search_icon {
  display: inline-block;
  color: #9cbbbe;
  width: 20px;
  height: 30px;
  padding-right: 10px;
  margin-left: -30px;
}

/* 임직원 리스트 테이블 */
.listTable {
  min-width: 50vw;
  margin-bottom: 20px;
}
.listTable__thead {
  background-color: #edf6f5;
}
.listTable__th {
  text-align: center;
  font-weight: bold;
}
.listTable__td {
  text-align: center;
  font-weight: normal;
}
/* 테이블 칸 조절 필요시 사용 
.listTable__th:nth-last-child(2),
.listTable__td:nth-last-child(2) {
  flex: 2;
} */
.listTable__th:last-child,
.listTable__td:last-child {
  flex: 1.3;
}
.employee__checkbox {
  max-width: 30px;
}
.employee__profile {
  display: flex;
  justify-content: center;
}
.employee__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.employee__name {
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.employee__email {
  min-width: 200px;
}
input[type='checkbox'] {
  border: #e0e0e0;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

/* 프로필 이미지 */
.profile__image {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.profile__image--small {
  width: 35px;
  border-radius: 100%;
  border: 1px solid #e0e0e0;
}

/* 임직원 리스트 페이지네이션 */
.employee__pagination {
  display: flex;
  justify-content: center;
}

/* 임직원 모달창 */
.modal {
  max-width: 200px;
}
.modal__content {
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__inner {
  width: 50%;
  min-width: 300px;
  max-width: 40vw;
  align-items: center;
  justify-content: center;
}
.modal__sub {
  min-width: 300px;
  display: flex;
  margin-bottom: 30px;
}

/* 임직원 모달창 프로필 사진 */
.modal__employeeImage {
  display: relative;
  padding-right: 40px;
}
.profile__image--modal:hover .modal__employeeImage--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 48px;
  opacity: 0;
  transition: opacity 0.3s;
}
.profile__image--modal:hover .modal__employeeImage--overlay {
  opacity: 1;
}
.profile__image--Modal {
}
.modal__employeeText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.inputText__employee {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 30px;
}
/* 읽기전용 회색처리 디자인 고민 
input:read-only {
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
} */

/* 임직원 모달창 정보 */
.employee__form {
  display: relative;
}
.employee__form--group {
  margin-bottom: 10px;
  display: flex;
}
.employee__form--group label {
  width: 80px;
  text-align: left;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}
.employee__form--group input {
  width: calc(100% - 90px);
  padding: 5px;
  border: 1px solid #69d0cf;
  border-radius: 5px;
}

/* 모달 이미지 수정 오버레이  */
.modal__employeeImage--overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.modal__employeeImage--overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.modal__editButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.modal__employeeImage:hover .modal__editButton {
  display: block;
}
