/*  font */
@font-face {
  font-family: 'cafe24-ohsquare-air';
  src: url(/src/assets/fonts/cafe24-ohsquare-air.woff);
}

/* home */
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* firstLine */
.home__firstLine {
  width: 100%;
  display: flex;
  gap: 30px;
}

/* secondLine */
.home__secondLine {
  width: 100%;
  display: flex;
}

/* profileCard */
.home__profileCard {
  flex: 1.8;
  display: flex;
  overflow: hidden;
  padding: 30px 50px;
  font-family: 'cafe24-ohsquare-air';
  color: #012e33;
}
.home__textBox {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__today {
  font-weight: bold;
}
.home__week {
  font-size: 55px;
}
.home__date {
  margin-top: 20px;
  font-size: 30px;
}
.home__welcome {
  margin-top: 30px;
  font-size: 22px;
}
.home__goodDay {
  margin-top: 10px;
  color: #67cdcc;
}
.home__profileBox {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__profileImg {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #edf6f5;
}
.home__dept {
  margin-top: 15px;
  font-size: 18px;
}

/* workCard */
.home__workCard {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #012e33;
  overflow: hidden;
  box-sizing: border-box;
}
.home__timeBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.home__time {
  margin-left: 10px;
  font-size: 55px;
  letter-spacing: 10px;
}
.home__timeText {
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3px;
}
.home__now {
  display: flex;
  justify-content: center;
}
.home__second {
  font-size: 35px;
  letter-spacing: 5px;
}
.home__workBox {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__notWorkInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__workInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.home__workStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.home__workEmoji {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #69d0cf;
  border-radius: 10px;
  margin-right: 10px;
}
.home__workText {
  letter-spacing: 1px;
  padding-bottom: 40px;
}
.home__workBtn {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
.home__workBtn:hover .home__workIcon {
  color: #fff;
}

/* noticeListCard */
.home__noticeListCard {
  flex: 1;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  box-sizing: border-box;
  padding: 30px 35px;
  gap: 20px;
}
.home__labelMore {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  color: #012e33;
}
.home__noticeLabel {
  font-size: 25px;
  font-weight: bold;
  margin-left: 5px;
}
.home__moreNotice {
  margin-right: 10px;
  font-weight: bold;
  color: #012e33;
}
.home__moreNotice:hover {
  cursor: pointer;
}
.home__noticeList {
  display: flex;
  flex: 1;
  gap: 25px;
}
.home__noticeCard {
  height: 330px;
  flex: 1;
  margin: 0;
}
.home__noticeCard:hover {
  cursor: pointer;
}

/* workModal */
.home__modalText {
  padding: 30px 0;
}

/* noticeModal */
.home__noticeModalInner {
  width: 30%;
  max-height: calc(100vh - 20px);
  padding: 20px 40px;
  overflow-y: auto;
  box-sizing: border-box;
}
.home__noticeModalBar {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
}
.home__noticeModalTitle {
  text-align: left;
}
.home__noticeModalDate {
  font-size: 15px;
  text-align: right;
  padding: 0px 0px 10px;
  border-bottom: 1px solid #dfdfdf;
}
.home__noticeModalText {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.home__noticeModalBtn {
  width: 100px;
  margin: 0 auto;
}
