.btn--notice{
  width:100px;
}
.btn--notice--cancel{
  width:100px;
  margin: 0 auto;
}

/* notice */
.notice{
  padding:10px;
  width:100%;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing:border-box;
}
.notice__bar{
  margin-top:10px;
  padding:0 20px;
  box-sizing: border-box;
  display:flex;
  align-items: center; /*요소 세로 중앙 정렬*/
}
.notice__search{
  display:flex;
  margin-left: 550px;
}
.search_icon{
  position: absolute;
  margin-top:5px;
  margin-left: 220px;
  width:20px;
  height:30px;
}
.notice__input{
  position: relative;
  color: #9cbbbe;
  margin-right:40px;
}
.notice__label{
  width:300px;
  font-size: 25px;
  margin-bottom:8px;
}
.notice__container{
  padding: 20px;
  display:flex;
  flex-wrap: wrap;
  gap: 15px;
}
.notice__card{
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom:20px;
  flex: 1 1 calc(25% - 10px); /*-10px로 하면 한줄에 카드가 3개 출력됨*/
}
.notice__card:hover{
  cursor:pointer;
}
.notice__title{
  font-size:20px;
  font-weight: 700;
}
/*notice-modal*/
.modal__hidden{
  visibility: hidden;
}
.noticeModal__bar{
  font-size:18px;
  font-weight: bold;
  padding:15px 0;
}
.noticeModal__title{ 
  text-align: left;
}
.noticeModal__date{
  font-size: 15px;
  text-align: right;
  border-bottom: 1px solid #dfdfdf;
}
.noticeModal__content{
  margin-top:20px;
  font-size:16px;
  font-weight: 400;
  line-height: 20px;
}