.table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
}

.table th {
  background-color: #edf6f5;
  cursor: auto;
}

.table th,
.table td {
  padding: 15px 10px;
  border-bottom: 1px solid #e0e0e0;
  border: 1px solid #ddd;
}

.table tr:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}
