.btn--notice{
  width:100px;
  font-size: 15px;
  display:block;
}

/* notice */
.notice{
  width:100%;
  border-radius: 10px;
  background-color: #fff;
  box-sizing:border-box;
}
.notice .page_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap:5%;
}
.notice__card{
  width:100%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5%;
  border-radius: 10px;
}
.notice .card .card_img{
  width:30%;
  height:410px;
  margin-top:20px;
}
.notice .card .card_img:hover{
  cursor:pointer;
}
.notice__card .card_imgText{
  font-size:20px;
  padding:auto 10px;
  font-weight: 500;
}
.page_content .noticenone{
  justify-content: center;
  align-items: center;
  display: flex;
  height:580px;
  font-size: 18px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*skeleton*/
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 20%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.3s infinite;
}
@keyframes skeleton-loading {
  0%{
    background-position: 200% 0;
  }
  100%{
    background-position: -200% 0%;
  }
}
.skeleton-card{
  border-radius:5px;
  width: 30%;
  height: 400px;
  margin-top: 20px;
}

/*notice-modal*/
.modalContainer .modal_inner{
  max-height: calc(100vh - 30px);
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 50%;
}
.notice__modalTitle{ 
  font-size:20px;
  font-weight: bold;
  text-align: left;
} 
.notice__modalDate{
  font-size: 16px;
  text-align: right;
  padding:0px 0px 10px;
  border-bottom: 1px solid #dfdfdf;
}

/*noticeUpload-modal*/
.noticeContent_writing,
.noticeTitle_writing,
.noticeFile_writing{
  display:flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.noticeUploadTitle,
.noticeUploadContent,
.noticeUploadFile{
  min-width: 100px;
  font-size:18px;
  font-weight: bold;
  padding-top:5px;
}

/*notice-upload*/
.uploadContainer .modal_inner{
  width:100%;
  max-width: 50%;
}
.noticeTitle_writing input{
  margin-bottom: 30px;
  width:100%;
  max-width:750px;
}
.noticeContent_writing textarea{
  height: 400px;
  width:100%;
  max-width: 750px;
}
.noticeTitle_writing input.empty{
  border:1px solid #ff0000;
}
.noticeContent_writing textarea.empty{
  border:1px solid #ff0000;
}
.noticeFile_writing input[type="file"]{
  width:100%;
  max-width: 600px;
}
.fileWarning.empty{
  color:#ff0000;
  font-weight: 600;
}

/*반응형*/
/* @media (max-width: 1200px) {
  .notice .card .card_img {
    width: 45%;
  }
  .noticeTitle_writing input, 
  .noticeContent_writing textarea,
  .noticeFile_writing input[type="file"] {
    width: 100%;
    max-width: none;
  }
} */

@media (max-width: 800px) {
  .modalContainer .modal_inner {
    max-width: 100%;
  }
  .notice .card .card_img {
    width: 100%;
    height:480px;
  }
  .page_content .noticenone{
    height:660px;
  }
  .uploadContainer .modal_inner {
    max-width: 90%;
  }
  .noticeUploadTitle,
  .noticeUploadContent,
  .noticeUploadFile {
    min-width: 50px;
    font-size: 16px;
  }
  .noticeUploadTitle {
    padding-top: 10px;
  }
  .noticeTitle_writing input,
  .noticeContent_writing textarea 
  .noticeFile_writing input[type="file"]{
    margin-bottom: 10px;
    max-width: 100%;
  }

  .skeleton-card{
    width:100%;
    height: 300px;
  }
}


