.btn--notice{
  width:100px;
  font-size: 15px;
  display:block;
}

/* notice */
.notice{
  width:100%;
  border-radius: 10px;
  background-color: #fff;
  box-sizing:border-box;
}
.notice .page_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap:5%;
}
.notice__card{
  width:100%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5%;
  border-radius: 10px;
}
.notice .card .card_img{
  width:30%;
  height:410px;
  margin-top:20px;
}
.notice .card .card_img:hover{
  cursor:pointer;
}
.notice__card .card_imgText{
  font-size:20px;
  padding:auto 10px;
  font-weight: 500;
}
.page_content .noticenone{
  justify-content: center;
  align-items: center;
  display: flex;
  height:580px;
  font-size: 18px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*skeleton*/
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 20%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.3s infinite;
}
@keyframes skeleton-loading {
  0%{
    background-position: 200% 0;
  }
  100%{
    background-position: -200% 0%;
  }
}
.skeleton-card{
  border-radius:5px;
  width: 30%;
  height: 400px;
  margin-top: 20px;
}

/*notice-modal*/
.modalContainer .modal_inner{
  max-height: calc(100vh - 30px);
  overflow-y: auto;
  box-sizing: border-box;
}
.notice__modalTitle{ 
  font-size:20px;
  font-weight: bold;
  text-align: left;
} 
.notice__modalDate{
  font-size: 16px;
  text-align: right;
  padding:0px 0px 10px;
  border-bottom: 1px solid #dfdfdf;
}
.notice__modalContent{
  margin-top:20px;
  line-height: 170%;
  white-space: pre-wrap;
  box-sizing: border-box;
}

/*noticeUpload-modal*/
.notice_form{
}
.noticeContent_writing,
.noticeTitle_writing,
.noticeFile_writing{
  display:flex;
  justify-content: flex-start;
  gap:30px;
}
.noticeUploadTitle,
.noticeUploadContent,
.noticeUploadFile{
  min-width: 100px;
  font-size:18px;
  font-weight: bold;
  padding-top:5px;
}

/*notice-upload*/
.noticeTitle_writing input{
  width:700px;
  margin-bottom: 30px;
}
.noticeContent_writing textarea{
  width:700px;
  height: 400px;
}
.noticeTitle_writing input.empty{
  border:1px solid #000;
}
.noticeContent_writing textarea.empty{
  border:1px solid #000;
}
.fileWarning{
  margin-left:130px;
  box-sizing: border-box;
}
.fileWarning.empty{
  color:#ff0000;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .notice .card .card_img {
    width: 45%;
  }
  .noticeTitle_writing input, 
  .noticeContent_writing textarea {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .notice .card .card_img {
    width: 100%;
  }
  .notice_upload .modal_md .modal_inner {
    width: 100%;
  }
  .noticeUploadTitle,
  .noticeUploadContent,
  .noticeUploadFile {
    min-width: 70px;
    font-size: 16px;
  }
  .noticeUploadTitle {
    padding-top: 10px;
  }
  .noticeTitle_writing input,
  .noticeContent_writing textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  .fileWarning {
    margin-left: 0;
    text-align: center;
  }
}


