.btn--notice{
  width:100px;
  font-size: 15px;
  display:block;
}

/* notice */
.notice{
  padding:10px;
  width:100%;
  border-radius: 10px;
  background-color: #fff;
  box-sizing:border-box;
}
.notice .page_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap:5%;
}
.notice__card{
  width:100%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5%;
  border-radius: 10px;
}
.card .card_img{
  width:30%;
  height:410px;
  margin-top:20px;
}
.card .card_img:hover{
  cursor:pointer;
}
.notice__card .card_imgText{
  font-size:20px;
  padding:auto 10px;
  font-weight: 500;
}

/*notice-modal*/
.modal_inner{
  padding: 20px 40px; 
  width: 80%;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  box-sizing: border-box;
}
.notice__modalTitle{ 
  font-size:20px;
  font-weight: bold;
  text-align: left;
} 
.notice__modalDate{
  font-size: 16px;
  text-align: right;
  padding:0px 0px 10px;
  border-bottom: 1px solid #dfdfdf;
}
.notice__modalContent{
  margin-top:20px;
}
