.btn--notice{
  width:100px;
  font-size: 15px;
}
.btn--notice--cancel{
  width:100px;
  margin: 0 auto;
}

/* notice */
.notice{
  padding:10px;
  width:100%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing:border-box;
}
.notice__input{
  width:290px;
  display: block;
  font-size: 16px;
  margin-left:740px;
}
.notice .card_page{
  padding:20px 25px 0px 25px;
  display:flex;
  justify-content: space-between;
  font-size: 27px;
}
.notice__input::placeholder{
  color:#9CBBBE;
}
.notice__searchIcon{
  color:#9CBBBE;
  margin-top:5px;
  width:20px;
  height:30px;
  flex-shrink: 0;
  margin-left: -45px;
}
.notice__label{
  min-width:300px;
  font-size: 25px;
  margin-bottom:8px;
}
.notice__container{
  padding: 20px;
  display:flex;
  flex-wrap: wrap;
  gap: 15px;
}
.notice__card{
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom:20px;
  flex: 1 1 calc(25% - 10px); /*-10px로 하면 한줄에 카드가 3개 출력됨*/
}
.notice__card:hover{
  cursor:pointer;
}
.notice__card .card_imgText{
  font-size:20px;
  padding:20px 10px;
  font-weight: 500;
}

/*notice-modal*/
.modal{
  padding: 20px 40px; 
  width: 100%;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  box-sizing: border-box;
}
.notice__modalBar{
  font-size:18px;
  font-weight: bold;
  padding:15px 0;
}
.notice__modalTitle{ 
  text-align: left;
}
.notice__modalDate{
  font-size: 15px;
  text-align: right;
  padding:0px 0px 10px;
  border-bottom: 1px solid #dfdfdf;
}
.notice__modalContent{
  margin-top:20px;
  font-size:16px;
  font-weight: 400;
  line-height: 20px;
}
